<h1>My Toys</h1>

<ul>
  <% @user_toys.each do |toy| %>
    <li>
      <%= toy.name %>
      <%= link_to "Delete Toy", toy_path(toy), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a New Toy", new_toy_path %>
