<div class="card-category" style="background-image: linear-gradient(rgba(250,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/premium-photo/warm-orange-purple-grunge-background-with-cement-faint-texture-marble-gradient_28629-604.jpg)">
  Here are your toys!
</div>

<div class='container'>
  <div class="cards">
    <div class="card-trip" style='background-image: url(fireworks2.jpg);background-size: cover;'>
        <div class="card-trip-infos">
          <div>
            <h1><%= link_to "Create a New Toy", new_toy_path %></h1>
          </div>
        </div>
    </div>

    <% @user_toys.each do |toy| %>
      <div class="card-trip">
        <%= cl_image_tag toy.photos.first.key, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to toy.name, toy_path(toy) %></h2>
            <% if toy.listed %>
              <p><%= '✅ This toy is listed for bookings.' %></p>
            <% end %>
          </div>

          <%#= link_to image_tag("delete.jpg"), toy_path(toy), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :class => "card-trip-user avatar-bordered" %>
          <a data-turbo-method="delete" data-turbo-confirm="Are you sure?" href="/toys/27"><img src="/assets/delete.jpg" class="card-trip-user avatar-bordered" ></a>
        </div>
      </div>
      <% end %>
  </div>
</div>
