"<h1>My Toy</h1>
<% @toy.photos.each do |photo| %>
    <%= cl_image_tag photo.key, crop: :thumb %>
<% end %>
<%= @toy.name %>
<%= link_to "Delete Toy", toy_path(@toy), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
