<div class='container'>
<h1>My Bookings</h1>
  <ul>
    <% @user_bookings.each do |booking| %>
    <li>
      <%= "You have booked #{booking.toy.name} between #{booking.start_date} and #{booking.end_date}" %>
    </li>
    <% end %>
  </ul>

  <%= link_to "Back Home", root_path %>
</div>
